<!DOCTYPE html>
<html>
<head>
   <title>Kitchen Items</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
      table,th,td,tr{
         text-align: center;
      }
   </style>
</head>
<body>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <h2>Kitchen Items Application</h2>
         <div ng-app = "" ng-controller = "itemController">
            <input type="text" ng-model="name">
            <br/>
            <br/>
            <table class="table table-striped table-bordered">
               <thead>
               <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Price</th>
                  <th>Action</th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat = "item in items | filter:name">
                  <td>{{item.code}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.location}}</td>
                  <td>{{item.price}}</td>
                  <td><div class="btn-group">
                     <button type="button" class="btn btn-default btn" ng-click="edit($index);" data-target="#mymodal" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></button>
                     <button type="button" class="btn btn-default btn" ng-click="deleteItem($index);"><i class="glyphicon glyphicon-trash"></i></button>
                  </div></td>
               </tr>
               </tbody>
            </table>
            <div class="modal fade" id="mymodal">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h3>Edit Data</h3>
                     </div>
                     <div class="modal-body">
                        <div class="container-fluid">
                           <form class="form form-group">
                              <div class="row">
                                 <div class="form-group col-md-3">
                                    <label for="code" class="col-md-2 control-label">Code:</label>
                                    <div class="col-md-10">
                                       <input type="text" class="form-control" id="code" placeholder="Code" ng-model="itemObject.code"/>
                                    </div>
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label for="name" class="col-md-1 control-label">Name:</label>
                                    <div class="col-md-11">
                                       <input type="text" class="form-control" id="name" placeholder="Name" ng-model="itemObject.name"/>
                                    </div>
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label for="location" class="col-md-1 control-label">Location:</label>
                                    <div class="col-md-11">
                                       <input type="text" class="form-control" id="location" placeholder="Location" ng-model="itemObject.location"/>
                                    </div>
                                 </div>
                                 <div class="form-group col-md-3">
                                    <label for="price" class="col-md-2 control-label">Price:</label>
                                    <div class="col-md-10">
                                       <input type="text" class="form-control" id="price" placeholder="Price" ng-model="itemObject.price"/>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <div class="btn-group col-sm-2">
                           <button type="button" class="btn btn-primary btn" ng-click="save()" data-dismiss="modal"><i class="glyphicon glyphicon glyphicon-ok-circle" ></i>Save</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <input type="hidden" ng-model="$scope.ObjectIndex" class="ng-valid">
            <!--  <div class="btn-group col-sm-2">
                 <button type="button" class="btn btn-primary btn" ng-click="save()"><i class="glyphicon glyphicon glyphicon-ok-circle"></i>Save</button>
              </div> -->
            <!--  <p>{{itemObject}}</p>  -->
         </div>
      </div>
   </div>
</div>
<script>
   function itemController($scope,$http) {
      $scope.ObjectIndex='';
      var url = "json/item.json";
      $http.get(url).then( function(response) {
         $scope.items = response.data;
      });
      $scope.edit = function(id) {
         //search user and update it
         $scope.ObjectIndex=id;
         $scope.itemObject = angular.copy($scope.items[id]);
         console.log($scope.ObjectIndex);
      }
      $scope.save = function() {
         console.log($scope.ObjectIndex);
         if($scope.items[$scope.ObjectIndex] == null) {
            //if this is new record, add it in users array
            $scope.items.push($scope.itemObject);
            $scope.update = angular.copy.itemObject;
         } else {
            //for existing record, find this record using id
            //and update it.
            $scope.items[$scope.ObjectIndex] = $scope.itemObject;
         }

         //clear the add record form
         $scope.itemObject = {};
         $scope.ObjectIndex = '';
      }
      $scope.deleteItem = function (index) {
         $scope.items.splice( index, 1);
         // if no rows left in the array create a blank array
         if ($scope.items.length() === 0){
            $scope.items = [];
         }
      };
   };
</script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</body>
</html>